body {
    width: 308px;
    height: 500px;
}

header {
    height: 40px;
    border-bottom: 1px solid gray;
}

h1 {
    font: bold;
    font-size: large;
    position: absolute;
    top: 10px;
    left: 100px;
}

#ändra {
    color: blue;
    position: absolute;
    top: 20px;
    left: 10px;
}

#pic {
    position: absolute;
    top: 20px;
    left: 270px;
}

.helhet {
    border-bottom: 1px solid gray;
    height: 60px;
}

.sidobild {
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    float: left;
}

.text {
    background-color: hotpink;
    width: 248px;
    font-size: 14px;
    float: right;
}

.rubrik {
    float: left;
    font: bold;
    font-size: 16px;
}
