body {
    background-image: url('../Images/BlackGardinet.PNG');
    margin: 0px;
    padding: 0px;
    background: #e74c3c;
    font-family: 'Lato', sans-serif;
}

p {
    z-index:1;
    color: black;
    font-size: larger;
    font-family: 'Lobster';
    background-color: gold;
    height:0px;
    overflow: hidden;
    margin:0px;
    
}


header {
}

h2 {
    font-family: 'Lobster';
}
h1:hover{
    animation:kalle 1s infinite;
}
@keyframes kalle{
    50%{
      
        color:gold;
    }
}
ul {
   
   
    padding-left: 0;
    width:100%;
}

li {
    color: #fff;
    text-align: center;
    list-style: none;
    width: 100%;
    height: 50px;
    background-color: red;
    margin: 5px;
}

li:hover {
    opacity: .3;
   
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    transform: rotate(3deg);
    animation: olle .4s infinite;
}

@keyframes olle {
    50% {
        transform: rotate(-3deg);
        background-color: gold;
    }
}

section {
  
    width: 100%;
    height: 30px;
    background-color: blue;
}
a{
    text-decoration:none;
}
li a{
    font-size:xx-large;
}
    section:hover p {
        position: relative;
        height: 20px;
        -moz-transition: 1s;
        -o-transition: 1s;
        -webkit-transition: ease-in-out;
        transition: 1s;
    }

    section:hover {
        margin-bottom: 80px;
        -moz-transition: 1s;
        -o-transition: 1s;
        -webkit-transition: 1s;
        transition: 1s;
    }



h1 {
    padding: 0px;
    color: #fff;
    text-align: center;
    font-size: 150px;
    font-family: 'Lobster';
}
