body {
}

#frame {
    height: 700px;
    width: 350px;
    border: 3px solid black;
    border-radius: 50px;
}

#camera {
    height: 6px;
    width: 6px;
    background-color: gray;
    border: 3px solid black;
    margin-top: 20px;
    margin-left: 49%;
    border-radius: 50%;
}

#flash {
    position: absolute;
    top:40px;
    left: 7px;

    height: 2px;
    width: 2px;
    margin-left: 120px;
    margin-top: 10px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 50px;
}

#ear {
    position: absolute;
      top: 50px;
    left: 150px;
    
    height: 4px;
    width: 70px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 50px;
}
.window{
    position:absolute;
    top:100px;
    left:30px;
    width:308px;
    height:500px;
    border:2px solid black;
    background-color:gray;
}
.app{

    height:60px;
    width:60px;
    border-radius:20px;
    background-color:blueviolet;
    margin:7px;
}
#anteckningar{
    background-image:url(../Images/Anteckningar.png);
}
#winanteckningar{
    background-color:white;
}
#postit{
    position:absolute;
    top:100px;
    left:20px;
}
#postit:hover{
    
}

#button{
    position:absolute;
    left:160px;
    top: 620px;

    height:50px;
    width:50px;
    border-radius:50%;
    background-color:#270909;
    border: #240606;
}