body {
}

.windowSize {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 308px;
    height: 500px;
    border: 2px solid black;
    background-color: brown;
}

#ipad {
    display: none;   
}

#mobile {
    display: none; 
}

#screen {
    display: none; 
}

@media only screen and (max-width: 768px) {

    .windowSize {
        background-color: green;
    }

    #ipad {
        display: block;
    }

    #mobile {
        display: none;
    }

    #printer {
        display: none;
    }

    #acreen {
        display: none;
    }
}

@media only screen and (max-width: 480px) {

    .windowSize {
        background-color: red;
    }

    #ipad {
        display: none;
    }

    #mobile {
        display: block;
    }

    #printer {
        display: none;
    }

    #screen {
        display: none;
    }
}

@media only print {
    .windowSize {
        background-color: gold;
    }

    #ipad {
        display: none;
    }

    #mobile {
        display: none;
    }

    #printer {
        display: block;
    }

    #screen {
        display: none;
    }
}
